extends layout

block styles
  link(rel='stylesheet' href='/stylesheets/indexstyle.css')

block content
  body 
    main
      h1= title
      p Write a license plate number to search for a car

      form(action="/" method="POST")
        input(type="text" placeholder="ab12345" name="nummerplade" required)
        button(type="submit") Search

      if car
        a.car-container(href="/cars/" + car.regNr)
            img.car-image(src='static/genericCar.png' alt=car.name)
            .car-info
              h2.car-name #{car.name}
              p license Plate: #{car.regNr}
              p Make: #{car.maerkeTypeNavn}
              p Model: #{car.modelTypeNavn}