doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/commonStyle.css')
    block styles
  body
    header
      nav 
        ul
          li: a(href='/') Home
          li: a(href='/user/account') Account
          if isLoggedIn
            li: a(href='/auth/logout') Logout
            if lastViewedCar
              li Senest set bil:
                span #{lastViewedCar.maerkeTypeNavn} #{lastViewedCar.modelTypeNavn}
                span Registreringsnummer: #{lastViewedCar.regNr}
                span Maksimum hastighed: #{lastViewedCar.maksimumHastighed}
                span Drivkraft: #{lastViewedCar.drivkraftTypeNavn}

    block content
    footer
      p &copy; 2023 - 2023
      p Made by: Super Datamatikere
