extends layout

block styles
  link(rel='stylesheet' href='/stylesheets/indexstyle.css')

block content
  h1= title
  p Welcome to #{title}


  if car
    table.table-container
      tr.header-row
        th Nummerplade
        th Mærke 
        th Model
        th Kilometer Tal 

      tr.data-row
        td #{car.regNr}
        td #{car.maerkeTypeNavn}
        td #{car.modelTypeNavn}
        td #{car.motorKilometerstand}

    table.table-container 
      tr.header-row 
        th Hestekræfter 
        th Drivmiddel 
        th Vægt 
        th Status

      tr.data-row
        td #{car.motorHestekraefter}
        td #{car.drivkraftTypeNavn}
        td #{car.totalVaegt}
        td #{car.status}

      if isFavorite
        form(action="/cars/unfavorite" method="POST")
          input(type="hidden" name="plate" value=car.regNr)
          button(type="submit") Remove from Favorites
      else
        form(action="/cars/favorite" method="POST")
          input(type="hidden" name="plate" value=car.regNr)
          button(type="submit") Add to Favorites
