extends layout

block styles
  link(rel='stylesheet' href='/stylesheets/indexstyle.css')

block content
  body 
    main
      h1= car.maerkeTypeNavn
      p This is a #{car.modelTypeNavn} #{car.variantTypeNavn} from #{car.modelAar}

      if errorMessage
                .message
                    h2= errorMessage
      if car
        img.car-imageShowcase(src='/static/genericCar.png' alt=car.name)
        table.table-container
          tr.header-row
            th License plate
            th Brand 
            th Model
            th Model year
            th Status

          tr.data-row
            td #{car.regNr}
            td #{car.maerkeTypeNavn}
            td #{car.modelTypeNavn}
            td #{car.modelAar}
            td #{car.status}

        table.table-container 
          tr.header-row 
            th Horsepower 
            th Maximum speed
            th Fuel type 
            th Kilometer number
            th Weight 

          tr.data-row
            td #{car.motorHestekraefter}
            td #{car.maksimumHastighed} km/h
            td #{car.drivkraftTypeNavn} 
            td #{car.motorKilometerstand}k km
            td #{car.totalVaegt} kg

        if isFavorite
          form(action="/cars/unfavorite" method="POST")
            input(type="hidden" name="plate" value=car.regNr)
            button(type="submit") Remove from Favorites
        else
          form(action="/cars/favorite" method="POST")
            input(type="hidden" name="plate" value=car.regNr)
            button(type="submit") Add to Favorites